<div class="sunset cards-canvas">
  <main class="cards-list">
    <div class="card">
      <form action="<%= createPostPath %> " enctype="multipart/form-data" method="post">
        <div class="field">
          <label for="imageLink">Image URL</label>
          <input type="url" name="imageLink" value="" />
        </div>
        <div class="field">
          <label for="body">Body</label>
          <input type="text" name="body" value="" />
        </div>
        <div class="field">
          <input type="submit" name="create" value="Post" />
        </div>
      </form>
    </div>

    <% posts.forEach((post) => { %>
      <% const user = post.User %> 
      
      <div class="card index-post">
        <div class="card__image">
          <a href="<%= showPostPath(post.id) %>">
            <img src="<%= post.imageLink %>"/>
          </a>
        </div>
        <div class="card__info">
          <div class="card__info__user">
            <a href="<%= showUserPath(user.id) %>"
              ><img
                class="poster-user-picture"
                src="<%= user.avatarLink %> "
                alt="Profile picture"
            /></a>
            <h3>@<%= `${user.firstName} ${user.lastName}` %></h3>
          </div>
          <p class="card__info__extra"><%= post.body %> </p>
        </div>
        <div class="card__stats">
          <p class="card__stats__title">Likes</p>
        </div>
        <div class="card__stats">
          <p class="card__stats__title">Comments</p>
          <h5 class="card__stats__info">20</h5>
        </div>
        <div class="card__stats">
          <p class="card__stats__title">Date</p>
          <h5 class="card__stats__info"><%= post.createdAt.toLocaleString('ISO') %> </h5>
        </div>
        <% if (currentUser.id === post.userId) { %>
          <div class="card__stats">
          </div>
          <div class="card__stats">
            <p class="card__stats__title">Edit post</p>
            <a href="<%= editPostPath(post.id) %> "><span class="material-icons">edit</span></a>
          </div>
          <div class="card__stats">
            <p class="card__stats__title">Delete post</p>
            <div class="card__stats__info">
              <form action="<%- deletePostPath(post.id) %>" method="POST">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">
                  <span class="material-icons">delete</span>
                </button>
              </form>
            </div>
          </div>
         
        <% } %>
      </div>
    <% }) %>
    <div>
      <% if (page > 1) { %>
        <a href="<%= nextPagePath(page - 1) %>">Previous page</a>
      <% } %>
      <p>Page <%= page %></p>
      <% if (posts.length) { %>
        <a href="<%= nextPagePath(page + 1) %>">Next page</a>
      <% } %>
    </div>

  </main>
  <aside id="sidebar">
    <p class="sidebar-header">Cool stuff and such</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
  </aside>
</div>
