<div class="sunset cards-canvas">
  <main class="cards-list">
    <% posts.forEach((post) => { %>
      <% const user = users[post.userId] %> 
      
      <div class="card index-post">
        <div class="card__image">
          <a href="/post/<%= post.id %>">
            <img src="<%= post.imageLink %>"/>
          </a>
        </div>
        <div class="card__info">
          <div class="card__info__user">
            <a href="/profile/<%= post.userId %> "
              ><img
                class="poster-user-picture"
                src="<%= user.avatarLink %> "
                alt="Profile picture"
            /></a>
            <h3>@<%= `${user.firstName} ${user.lastName}` %></h3>
          </div>
          <p class="card__info__extra"><%= post.body %> </p>
        </div>
        <div class="card__stats">
          <p class="card__stats__title">Likes</p>
          <h5 class="card__stats__info">1020</h5>
        </div>
        <div class="card__stats">
          <p class="card__stats__title">Comments</p>
          <h5 class="card__stats__info">20</h5>
        </div>
        <div class="card__stats">
          <p class="card__stats__title">Date</p>
          <h5 class="card__stats__info"><%= post.createdAt.toLocaleString('ISO') %> </h5>
        </div>
      </div>
    <% }) %> 
    
  </main>
  <aside id="sidebar">
    <p class="sidebar-header">Cool stuff and such</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
  </aside>
</div>
