<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TrippyBook</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="<%= assetPath('app.css') %>" />
  </head>

  <body class="preload">
    <%- include('navbar') %> <%- body %> <%- include('footer') %>
    <script src="<%= assetPath('app.js') %>"></script>
    <script>
      document.body.classList.remove('preload');
    </script>
  </body>
</html>
