<div class="sunset cards-canvas">
  <main class="cards-list">
    <% const postsWord = posts.length != 1 ? 'posts' : 'post' %> 
    <h3><%= `@${user.firstName} ${user.lastName} ${pageAction} ${postsWord}` %></h1>
    <% posts.forEach((post, index) => { %>
      <div class="card index-post">
        <div class="card__image">
          <a href="<%= showPostPath(post.id) %>">
            <img src="<%= post.imageLink %>"/>
          </a>
        </div>
        <div class="card__info">
          <div class="card__info__user">
            <a href="<%= showUserPath(post.User.id) %>"
              ><img
                class="poster-user-picture"
                src="<%= post.User.avatarLink %> "
                alt="Profile picture"
            /></a>
            <h3>@<%= `${post.User.firstName} ${post.User.lastName}` %></h3>
          </div>
          <p class="card__info__extra"><%= post.body %> </p>
        </div>
        <div class="card__stats">
          <p class="card__stats__title">Likes</p>
          <div class="card__stats__info">
            <h5>1023</h5>
            <form action="<%- likedPosts[index] ? unlikePostPath(post.id) : likePostPath(post.id) %>" method="POST">
              <button type="submit">
                <span class="material-icons"><%= likedPosts[index] ? 'airplanemode_inactive' : 'airplanemode_active' %></span>
              </button>
            </form>
          </div>
        </div>
        <div class="card__stats">
          <p class="card__stats__title">Comments</p>
          <h5 class="card__stats__info">20</h5>
        </div>
        <div class="card__stats">
          <p class="card__stats__title">Date</p>
          <h5 class="card__stats__info"><%= post.createdAt.toLocaleString('ISO') %> </h5>
        </div>
        <% if (currentUser.id === post.userId) { %>
          <div class="card__stats">
          </div>
          <div class="card__stats">
            <p class="card__stats__title">Edit post</p>
            <a href="<%= editPostPath(post.id) %> "><span class="material-icons">edit</span></a>
          </div>
          <div class="card__stats">
            <p class="card__stats__title">Delete post</p>
            <div class="card__stats__info">
              <form action="<%- deletePostPath(post.id) %>" method="POST">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">
                  <span class="material-icons">delete</span>
                </button>
              </form>
            </div>
          </div>
          
        <% } %>
      </div>
    <% }) %>

    <div>
      <% console.log(nextPagePath(user.id, page - 1)) %> 
      <% if (page > 1) { %>
        <a href="<%= nextPagePath(user.id, page - 1) %>">Previous page</a>
      <% } %>
      <p>Page <%= page %></p>
      <% if (posts.length) { %>
        <a href="<%= nextPagePath(user.id, page + 1) %>">Next page</a>
      <% } %>
    </div>

  </main>
</div>
  